[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=0
activation=linear
bias=0


[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=96
size=3
stride=2
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=24
size=1
stride=1
pad=0
activation=linear
bias=0


[convolutional]
batch_normalize=1
filters=144
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=144
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=24
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear

[convolutional]
batch_normalize=1
filters=144
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=144
size=3
stride=2
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=linear
bias=0



[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=linear
bias=0


[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=linear
bias=0


[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=576
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=576
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear
feature=linear
feature_idx=0


[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=576
size=3
stride=2
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=linear
bias=0



[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=960
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear


[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=960
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=linear
bias=0

[shortcut]
from=-4
activation=linear

[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=960
size=3
stride=1
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=0
activation=linear
bias=0

[convolutional]
batch_normalize=1
filters=1280
size=1
stride=1
pad=0
activation=relu6
bias=0
backbone=1
feature=linear
feature_idx=1
#backbone=1代表之前部分的可以加载分类训练网络部分的预训练权重

#extra
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=256
size=3
stride=2
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=0
activation=linear
bias=0
feature=linear
feature_idx=2

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=128
size=3
stride=2
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=linear
bias=0
feature=linear
feature_idx=3
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=128
size=3
stride=2
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=linear
bias=0
feature=linear
feature_idx=4
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu6
bias=0

[depthwise]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=relu6
bias=0

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=linear
bias=0
feature=linear
feature_idx=5